mixin ttl-left(txt)
  // Заголовок с чертой слева
  .title-left
    .title-left__text= txt
    .title-left__line
  // /Заголовок с чертой слева

mixin blockTxtTop(ttl, txt, href)
  // Текстовый блок с картинкой сверху
  .block-pic-top
    .block-pic-top__pic(style={'background-image': "url('images/main__articles-1.jpg')"})
    .block-pic-top__cntnt
      .block-pic-top__cntnt-ttl= ttl
      .block-pic-top__cntnt-txt= txt
      .block-pic-top__cntnt-href
        a.block-pic-top__cntnt-href-a(href= href) Читать полностью
  // /Текстовый блок с картинкой сверху
    
mixin blockTxtLeft(ttl, txt, href)
  // Текстовый блок с картинкой слева
  .block-pic-left
    .block-pic-left__pic(style={'background-image': "url('images/main__articles-3.jpg')"})
    .block-pic-left__cntnt
      .block-pic-left__cntnt-ttl= ttl
      .block-pic-left__cntnt-txt= txt
      .block-pic-left__cntnt-href
        a.block-pic-left__cntnt-href-a(href= href) Читать полностью
  // /Текстовый блок с картинкой слева

mixin advBanner()
  // Рекламный баннер
  .adv-banner
    .adv-banner__txt Какой-то интересный заголовок может быть здесь. Кликабельный
  // /Рекламный баннер
  
mixin utp1(ttl, txt, btnTxt, btnId)
  // УТП вер.1
  .utp1
    .utp1__ttl= ttl
    .utp1__txt= txt
    .utp1__btn
      +redBtn(btnTxt, btnId)
  // /УТП вер.1
  
mixin redBtn(btnTxt, btnId)
  // Стандартная красная кнопка
  button(type='button' id= btnId).red-btn= btnTxt
  // /Стандартная красная кнопка
  
mixin advFullWidth()
  // Баннер на всю ширину
  .adv-full-width Место для баннер рекламы на сайте
  // /Баннер на всю ширину
  
mixin ttl-center(txt)
  // Заголовок с чертами по бокам
  .title-center
    .title-center__line-left
    .title-center__line-text= txt
    .title-center__line-right
  // /Заголовок с чертами по бокам
  
mixin moreBtn(txt, id)
  // Смотреть полный текст
  .main__seo-txt-more-btn(id= id)
    .main__seo-txt-more-btn-show Смотреть полный текст
    .main__seo-txt-more-btn-hide Скрыть полный текст
  // /Смотреть полный текст

mixin seo-center()
  //- Сео текст
  .seo-center
    .seo-center-ttl
      +ttl-center('СЕО заголовок')
    .seo-center-txt
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      .seo-center-txt-more-btn-wrap
        +moreBtn('Смотреть полный текст', 'main-seo-more-btn')
  //- /Сео текст

mixin header__simple(simpleSliderClass, simpleSliderTtl)
  header.header__simple(class= simpleSliderClass)
    include navbar
    // Слайдер
    .simple__slider
      .container
        .row
          .col-12
            .simple__slider-ttl
              .simple__slider-ttl-left
              .simple__slider-ttl-txt= simpleSliderTtl
              .simple__slider-ttl-right

mixin breabcrumbs()
  .container
    .row
      .col-12
        // Крошки
        .breabcrumbs
          a(href='/').breabcrumbs__item Главная
          .breabcrumbs__separ /
          a(href='#').breabcrumbs__item Первая страница
          .breabcrumbs__separ /
          a(href='#').breabcrumbs__item Вторая страница
          .breabcrumbs__separ /
          .breabcrumbs__item.breabcrumbs__item-current Текущая страница
        // /Крошки

mixin sideMenu()
  // Боковое меню
  .side-menu
    a(href='#').side-menu__item Административно-территориальное деление Китая
    a(href='#').side-menu__item.active Политический строй. Китая
    a(href='#').side-menu__item Правительство Китая
    a(href='#').side-menu__item Состав Правительства Китая

mixin utp2()
  // УТП вер.2
  .utp2
    .container
      .row
        .col-12.text-center
          .utp2__ttl Заказать 
            span.utp2__ttl-yellow бесплатную 
            | оценку стоимости перевода
          .utp2__txt Для точной оценки стоимость заказа, мы просим прислать Ваш текст на оценку или связаться с нами по телефону или электронной почте.
          .utp2__btn
            +redBtn('Загрузить текст', 'utp2')
  // /УТП вер.2

  
mixin pagination()
  // Пагинация
  .pagination
    a(href='#').pagination__item 1
    a(href='#').pagination__item 2
    .pagination__item.pagination__item-current 3
    .pagination__item ...
    a(href='#').pagination__item 6
  // /Пагинация

  
mixin bigRedButton()
  // Большая красная кнопка
  .big-red-button#big-red-button Оставить объявление
  // /Большая красная кнопка

mixin left-links()
  // Ссылочный блок слева 
  .trans__links
    .trans__links-ttl Здесь могут быть ссылки
    .trans__links-items
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
  // /Ссылочный блок слева 
  
mixin side-text-right()
  // Текст в колонке справа
  .side-text-right
    .side-text-right__ttl
      +ttl-left('СЕО Заголовок')
    .side-text-right_txt
      p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
      p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
      p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру
  // Текст в колонке справа
  
mixin kitaevedi__item(classes)
  // Карточка с человеком со ссылкой
  a.col-12.col-md-6.col-lg-3.kitaevedi__items-item(href='#' class= classes)
    .kitaevedi__items-item-img(style='background-image: url(images/doska-inner__img-round.jpg)')
    .kitaevedi__items-item-ttl Евгения Савченко
    .kitaevedi__items-item-descr Краткое описание китаеведа, информация о нем, откуда, какие.
  // /Карточка с человеком со ссылкой

mixin about__item(classes)
  // Карточка с человеком без ссылки
  .col-12.col-md-6.col-lg-4.text-center.mb-5
    .kitaevedi__items-item-img(style='background-image: url(images/doska-inner__img-round.jpg)')
    .kitaevedi__items-item-ttl Евгения Савченко
    .kitaevedi__items-item-descr Краткое описание китаеведа, информация о нем, откуда, какие.
  // /Карточка с человеком без ссылки

mixin sideMenuActive()
  ul.catalog#sideMenu
    li.catalog-menu__link Ссылка
      ul
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка
    li.catalog-menu__link Ссылка
      ul
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка
    li.catalog-menu__link Ссылка
      ul
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка
        li.catalog__submenu
          a(href='#').catalog-menu__link Ссылка

  //- .catalog#sideMenu
  //-   a(href='#').catalog-menu__link.catalog-menu__link-parent Ссылка
  //-   ul
  //-     li.catalog__submenu
  //-       a(href='#').catalog-menu__link Ссылка
  //-     li.catalog__submenu
  //-       a(href='#').catalog-menu__link Ссылка
  //-     li.catalog__submenu
  //-       a(href='#').catalog-menu__link Ссылка
  //-   .catalog-item
  //-     .catalog-item__ttl Заголовок меню 3
  //-     .catalog-item__cntnt-wrap
  //-       .catalog-item__cntnt
  //-         a(href='#').catalog-menu__link Ссылка
  //-         a(href='#').catalog-menu__link Ссылка
  //-         a(href='#').catalog-menu__link Ссылка
  //-         a(href='#').catalog-menu__link Ссылка
  //-   .catalog-item
  //-     .catalog-item__ttl Заголовок меню 4
  //-     .catalog-item__cntnt-wrap
  //-       .catalog-item__cntnt
  //-         a(href='#').catalog-menu__link Ссылка
  //-         a(href='#').catalog-menu__link Ссылка
  //-         a(href='#').catalog-menu__link Ссылка
  //-         a(href='#').catalog-menu__link Ссылка
  script.
    function handler( event ) {
      var target = $( event.target );
      if ( target.is( "li" ) ) {
        target.children().slideToggle();
      }
    }
    $( "ul" ).click( handler ).find( "ul" ).hide();
//- Резерв
//- mixin sideMenuActive()
//-   .catalog#sideMenu
//-     .catalog-item
//-       .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 1
//-       .catalog-item__cntnt-wrap
//-         .catalog-item__cntnt
//-           // вложенное меню
//-           .catalog.catalog_sub
//-             .catalog-item
//-               .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 1
//-               .catalog-item__cntnt-wrap
//-                 .catalog-item__cntnt
//-                   a(href='#').catalog-menu__link Ссылка
//-                   a(href='#').catalog-menu__link Ссылка
//-                   a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-           // вложенное меню
//-           .catalog.catalog_sub
//-             .catalog-item
//-               .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 1
//-               .catalog-item__cntnt-wrap
//-                 .catalog-item__cntnt
//-                   a(href='#').catalog-menu__link Ссылка
//-                   a(href='#').catalog-menu__link Ссылка
//-                   // вложенное меню
//-                   .catalog.catalog_sub
//-                     .catalog-item
//-                       .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 1
//-                       .catalog-item__cntnt-wrap
//-                         .catalog-item__cntnt
//-                           a(href='#').catalog-menu__link Ссылка
//-                           a(href='#').catalog-menu__link Ссылка
//-                           a(href='#').catalog-menu__link Ссылка
//-                   a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//- 
//-     .catalog-item
//-       .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 2
//-       .catalog-item__cntnt-wrap
//-         .catalog-item__cntnt
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-     .catalog-item
//-       .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 3
//-       .catalog-item__cntnt-wrap
//-         .catalog-item__cntnt
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-     .catalog-item
//-       .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 4
//-       .catalog-item__cntnt-wrap
//-         .catalog-item__cntnt
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-           a(href='#').catalog-menu__link Ссылка
//-   script(src='assets/side-menu.js')
