mixin ttl-left(txt)
  // Заголовок с чертой слева
  .title-left
    .title-left__text= txt
    .title-left__line
  // /Заголовок с чертой слева

mixin blockTxtTop(ttl, txt, href)
  // Текстовый блок с картинкой сверху
  .block-pic-top
    .block-pic-top__pic(style={'background-image': "url('images/main__articles-1.jpg')"})
    .block-pic-top__cntnt
      .block-pic-top__cntnt-ttl= ttl
      .block-pic-top__cntnt-txt= txt
      .block-pic-top__cntnt-href
        a.block-pic-top__cntnt-href-a(href= href) Читать полностью
  // /Текстовый блок с картинкой сверху
    
mixin blockTxtLeft(ttl, txt, href)
  // Текстовый блок с картинкой слева
  .block-pic-left
    .block-pic-left__pic(style={'background-image': "url('images/main__articles-3.jpg')"})
    .block-pic-left__cntnt
      .block-pic-left__cntnt-ttl= ttl
      .block-pic-left__cntnt-txt= txt
      .block-pic-left__cntnt-href
        a.block-pic-left__cntnt-href-a(href= href) Читать полностью
  // /Текстовый блок с картинкой слева

mixin advBanner()
  // Рекламный баннер
  .adv-banner
    .adv-banner__txt Какой-то интересный заголовок может быть здесь. Кликабельный
  // /Рекламный баннер
  
mixin utp1(ttl, txt, btnTxt, btnId)
  // УТП вер.1
  .utp1
    .utp1__ttl= ttl
    .utp1__txt= txt
    .utp1__btn
      +redBtn(btnTxt, btnId)
  // /УТП вер.1
  
mixin redBtn(btnTxt, btnId)
  // Стандартная красная кнопка
  button(type='button' id= btnId).red-btn= btnTxt
  // /Стандартная красная кнопка
  
mixin advFullWidth()
  // Баннер на всю ширину
  .adv-full-width Место для баннер рекламы на сайте
  // /Баннер на всю ширину
  
mixin ttl-center(txt)
  // Заголовок с чертами по бокам
  .title-center
    .title-center__line-left
    .title-center__line-text= txt
    .title-center__line-right
  // /Заголовок с чертами по бокам
  
mixin moreBtn(txt, id)
  // Смотреть полный текст
  .main__seo-txt-more-btn(id= id)
    .main__seo-txt-more-btn-show Смотреть полный текст
    .main__seo-txt-more-btn-hide Скрыть полный текст
  // /Смотреть полный текст

mixin seo-center()
  //- Сео текст
  .seo-center
    .seo-center-ttl
      +ttl-center('СЕО заголовок')
    .seo-center-txt
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      .seo-center-txt-more-btn-wrap
        +moreBtn('Смотреть полный текст', 'main-seo-more-btn')
  //- /Сео текст
